<h1>Edit an Article</h1>

<%= form_for(@article) do |f| %>
    <%# <%= f.error.messages %>

    <p>
        <%= f.label :title %><br/>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :body %><br/>
        <%= f.text_field :body %>
    </p>
    <p>
        <%= f.submit 'Update' %>
    </p>
<% end %>